@page "/Signup"
@inject IUserRepository<int, UserApi> _userRepo
@inject IJSRuntime js
@inject NavigationManager uriHelper
@inject LocalStorage storage
@using System.Globalization
@using CVTheque.client.ViewModels
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage
@inject IJsAlertifyService alertify
@using System.Net
@using Newtonsoft.Json
@using System.Globalization

<h3>Signup</h3>

<EditForm Model="@user" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @*<InputText id="name" @bind-Value="user.Username" />*@

    <div class="field">
        <label class="label">Firstname</label>
        <div class="control has-icons-left has-icons-right">
            <MyInputRazor id="firstname" Type="Text" @bind-Value="user.Firstname" Class="input" Autocomplete="firstname" />
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            @*<span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>*@
        </div>
        @*<p class="help is-success">This username is available</p>*@
        <p class="help is-danger"> <ValidationMessage For="@(() => user.Firstname)" /></p>
    </div>
    <div class="field">
        <label class="label">Lastname</label>
        <div class="control has-icons-left ">
            <!--has-icons-right-->
            <MyInputRazor id="lastname" Type="Text" @bind-Value="user.Lastname" Class="input" Autocomplete="lastname" />
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            @*<span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>*@
        </div>
        @*<p class="help is-success">This username is available</p>*@
        <p class="help is-danger"> <ValidationMessage For="@(() => user.Lastname)" /></p>
    </div>
    <div class="field">
        <label class="label">Mail</label>
        <div class="control has-icons-left ">
            <!--has-icons-right-->
            <MyInputRazor id="mail" Type="email" @bind-Value="user.Mail" Class="input" Autocomplete="mail" />
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            @*<span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>*@
        </div>
        @*<p class="help is-success">This username is available</p>*@
        <p class="help is-danger"> <ValidationMessage For="@(() => user.Mail)" /></p>
    </div>
    <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left ">
            <!--has-icons-right-->
            <MyInputRazor id="username" Type="Text" @bind-Value="user.Username" Class="input" Autocomplete="username" />
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            @*<span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>*@
        </div>
        @*<p class="help is-success">This username is available</p>*@
        <p class="help is-danger"> <ValidationMessage For="@(() => user.Username)" /></p>
    </div>

    <div class="field">
        <label class="label">Pass</label>
        <div class="control has-icons-left">
            <MyInputRazor Type="password" id="password" @bind-Value="user.Password" Class="Input" Autocomplete="current-password" />
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </div>
        <p class="help is-danger"> <ValidationMessage For="@(() => user.Password)" /></p>
    </div>

    <div class="field">
        <p class="control">
            <button type="submit" class="button is-primary">S'inscrire</button>
        </p>
    </div>


</EditForm>

@code {
    private ViewUser user = new ViewUser();
    static TextInfo tinfo = CultureInfo.CurrentCulture.TextInfo;

    void OnInit()
    {
        if (storage["token"] != null || storage["username"] != null)
            uriHelper.NavigateTo("/.");
    }

    private async void HandleValidSubmit()
    {

        var response = await _userRepo.Register(user);

        switch (response.StatusCode)
        {
            case HttpStatusCode.OK:
                await alertify.open($"utilisateur &laquo; {tinfo.ToTitleCase(user.Username)} &raquo; cr&acute;e" , TypeAlertify.Succes);
                uriHelper.NavigateTo("/");
                break;
            case HttpStatusCode.BadRequest:
                await alertify.open( await response.Content.ReadAsStringAsync(), TypeAlertify.Error);
                break;
        }
    }
}
