<EditForm Model="@lev" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name :</label>
        <div>
            <InputText @bind-Value="@lev.Name" />
            <ValidationMessage For="@(() => lev.Name)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>IsDelete :</label>
            <div>
                <InputCheckbox @bind-Value="@lev.IsDelete" />
                <ValidationMessage For="@(() => lev.IsDelete)" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
    <a class="navbar-item" href="/AdminGeneral/LanguageLevels">
        Retour
    </a>
</EditForm>


@code {
    [Parameter] public LanguageLevelApi lev { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}